<!--<div id="wildbox" class="gray container">
    <div id="wildlabel">WILD</div>
    <div id="wild" data-bind="text: currentWild">1</div>
</div>
<div id="scorebox" class="blue container">
    <div class="col1">
        <div id="hl-k" class="handlabel lightborder currenthand">K</div>
        <div id="hl-q" class="handlabel lightborder">Q</div>
        <div id="hl-j" class="handlabel lightborder">J</div>
        <div id="hl-10" class="handlabel lightborder">10</div>
        <div id="hl-9" class="handlabel lightborder">9</div>
        <div id="hl-8" class="handlabel lightborder">8</div>
        <div id="hl-7" class="handlabel lightborder">7</div>
        <div id="hl-6" class="handlabel lightborder">6</div>
        <div id="hl-5" class="handlabel lightborder">5</div>
        <div id="hl-4" class="handlabel lightborder">4</div>
        <div id="hl-3" class="handlabel lightborder">3</div>
        <div id="hl-2" class="handlabel lightborder">2</div>
        <div id="hl-a" class="handlabel lightborder">A</div>
    </div>
    <div id="player1" class="player dealer">
        <div class="dealer">DEALER</div>
        <div class="name lightborder">Mark</div>
        <div id="score-k" class="score lightborder"></div>
        <div id="score-q" class="score lightborder"></div>
        <div id="score-j" class="score lightborder"></div>
        <div id="score-10" class="score lightborder"></div>
        <div id="score-9" class="score lightborder"></div>
        <div id="score-8" class="score lightborder"></div>
        <div id="score-7" class="score lightborder"></div>
        <div id="score-6" class="score lightborder"></div>
        <div id="score-5" class="score lightborder"></div>
        <div id="score-4" class="score lightborder"></div>
        <div id="score-3" class="score lightborder"></div>
        <div id="score-2" class="score lightborder"></div>
        <div id="score-a" class="score lightborder"></div>
        <div id="total" class="score total lightborder"></div>
    </div>
    <div id="player2" class="player">
        <div class="dealer">DEALER</div>
        <div class="name lightborder">Tim</div>
        <div id="score-k" class="score lightborder"></div>
        <div id="score-q" class="score lightborder"></div>
        <div id="score-j" class="score lightborder"></div>
        <div id="score-10" class="score lightborder"></div>
        <div id="score-9" class="score lightborder"></div>
        <div id="score-8" class="score lightborder"></div>
        <div id="score-7" class="score lightborder"></div>
        <div id="score-6" class="score lightborder"></div>
        <div id="score-5" class="score lightborder"></div>
        <div id="score-4" class="score lightborder"></div>
        <div id="score-3" class="score lightborder"></div>
        <div id="score-2" class="score lightborder"></div>
        <div id="score-a" class="score lightborder"></div>
        <div id="total" class="score total lightborder"></div>
    </div>
    <div id="player3" class="player">
        <div class="dealer">DEALER</div>
        <div class="name lightborder">Gwen</div>
        <div id="score-k" class="score lightborder"></div>
        <div id="score-q" class="score lightborder"></div>
        <div id="score-j" class="score lightborder"></div>
        <div id="score-10" class="score lightborder"></div>
        <div id="score-9" class="score lightborder"></div>
        <div id="score-8" class="score lightborder"></div>
        <div id="score-7" class="score lightborder"></div>
        <div id="score-6" class="score lightborder"></div>
        <div id="score-5" class="score lightborder"></div>
        <div id="score-4" class="score lightborder"></div>
        <div id="score-3" class="score lightborder"></div>
        <div id="score-2" class="score lightborder"></div>
        <div id="score-a" class="score lightborder"></div>
        <div id="total" class="score total lightborder"></div>
    </div>
    <div id="player4" class="player">
        <div class="dealer">DEALER</div>
        <div class="name lightborder">Donna</div>
        <div id="score-k" class="score lightborder"></div>
        <div id="score-q" class="score lightborder"></div>
        <div id="score-j" class="score lightborder"></div>
        <div id="score-10" class="score lightborder"></div>
        <div id="score-9" class="score lightborder"></div>
        <div id="score-8" class="score lightborder"></div>
        <div id="score-7" class="score lightborder"></div>
        <div id="score-6" class="score lightborder"></div>
        <div id="score-5" class="score lightborder"></div>
        <div id="score-4" class="score lightborder"></div>
        <div id="score-3" class="score lightborder"></div>
        <div id="score-2" class="score lightborder"></div>
        <div id="score-a" class="score lightborder"></div>
        <div id="total" class="score total lightborder"></div>
    </div>
</div>-->
